
:root{
    --main-font: 'Poppins', sans-serif;
    --main-title-font: 'Poppins', sans-serif;
}

body {
    font-family: var(--main-font);
}

h1{
    font-family: var(--main-title-font);
    font-size:4em;
    text-align: center;
    height:20%;
}

header{
    background-color: yellow;
    margin:5%;    
}

form{
    margin:10%;
}

h2{
    font-size:2em;
}

.right{
    float:right;
}

h3{
    font-size:1em;
}

input{
    font-family:var(--main-font);
}

.main_img{
    width:50%;
    float:left;
}